.containerAboutUs2,
.containerAboutUs3,
.containerAboutUs4,
.containerAboutUs5,
.containerAboutUs6,
.containerAboutUs7 {
  display: flex;
  color: #154444;
  justify-content: unset;
  text-align: center;
}
.containerAboutUs8 {
  display: flex;
  color: #154444;
  justify-content: space-around;
  margin-top: 50px;
}
.containerAboutUs1 {
  text-align: center;
  padding: 50px 200px 50px 200px;
  border: 6px solid #154444;
  border-radius: 80px;
}

.imgAboutUs {
  width: 80%;
}
