.footer1 {
  background-color: #154444;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.bigText1 {
  font-size: large;
}
.containerFooter {
  background-color: #154444;
  color: #fff;
  text-align: center;
  margin-top: 50px;
}
.footer2 {
  border-top: 1px rgb(174, 170, 170) solid;
  padding: 10px;
}
